<div class="small-2 large-4 columns">
    <div class="button-bar">
        <ul class="button-group">
            <li>{{#linkTo "dictionary.dicts" classNameBindings=":button :small" activeClass="disabled"}}Dictionaries{{/linkTo}}</li>
            <li>{{#linkTo "dictionary.collaborators" classNameBindings=":button :small" activeClass="disabled"}}Collaborators{{/linkTo}}</li>
        </ul>
    </div>

    {{outlet dictwidgets}}
</div>


<div class="small-6 large-8 columns">
    <table id="dictionary" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>{{dictionary.language1}}</th>
                <th>{{dictionary.language2}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a {{action save}}class="button mini"><span class="gicon-plus gicon-white"></span></a></td>
                <td>{{view Ember.TextField placeholder="Phrase" valueBinding="phrase" classBinding="phraseValid::error"}}</td>
                <td>{{view Ember.TextField placeholder="Translation" valueBinding="translation" classBinding="translationValid::error"}}</td>
            </tr>
            {{#each entry in words}}
            <tr {{bind-attr class="entry.isEditMode:edit-mode"}}>
                <td>{{entry.id}}</td>
                <td class="phrase-column">
                    {{#if entry.isEditMode}}
                    {{view Ember.TextField placeholder="Phrase" valueBinding="entry.phrase" classBinding="entry.isPhraseValid::error"}}
                    {{else}}
                        {{entry.phrase}}
                    {{/if}}
                </td>
                <td >
                    {{#if entry.isEditMode}}
                        {{view Ember.TextField placeholder="Translation" valueBinding="entry.translation" classBinding="entry.isTranslationValid::error"}}
                    {{else}}
                        {{entry.translation}}
                    {{/if}}
                    {{#if entry.isEditMode}}
                        <span class="pull-right edit-mode-mini-btns">
                            <span class="label button mini" {{action "save" entry}} ><span class="gicon-ok-sign gicon-white"></span></span>
                            <span class="label button mini alert" {{action "cancelEditMode" entry}} ><span class="gicon-remove-sign gicon-white"></span></span>
                        </span>
                    {{else}}
                        <span  {{action "remove" entry}} class="gicon-minus-sign pull-right action-icon" title="Delete entry"></span>
                        <span  {{action "edit" entry}} class="gicon-edit pull-right action-icon" title="Edit entry"></span>
                    {{/if}}
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">There are no words in this dictionary yet</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>