
<div class="small-12 large-12 columns">
    <table id="dictionary" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Owner</th>
                <th>Dictionary</th>
            </tr>
        </thead>
        <tbody>
            {{#each entry in dictionaries}}
            <tr>
                <td>{{entry.id}}</td>
                <td>
                    <img  {{bindAttr src="entry.user.avatar" }}/>
                    {{entry.user.name}}
                </td>
                <td>
                    {{#linkTo "dictionary.collaborators" entry }}<i class="icon-book"></i> {{entry.language1}} - {{entry.language2}}{{/linkTo}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>